<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arangkada"
        tools:targetApi="31">

        <!-- Info Activity - Launch Screen -->
        <activity
            android:name=".activities.InfoActivity"
            android:exported="true"
            android:theme="@style/Theme.Arangkada.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity - Keep for future use -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Arangkada" />

        <!-- Future activities (add these when you create them) -->
        <activity
            android:name=".activities.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Arangkada" />
        <!-- Booking Activity -->
        <activity
            android:name=".activities.BookingActivity"
            android:exported="false"
            android:theme="@style/Theme.Arangkada" />

    </application>

</manifest>